.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.side-bar {
  width: 250px;
  background-color: #212529;
  color: #ffffff;
}

.main-content {
  flex: 1;
  padding: 20px;
}

